$hover_text_color: rgb(96, 96, 255);
$hover_box_color: rgb(240, 240, 240);
$genre_background_color: rgb(110, 181, 247);
$genre_text_color: rgb(75, 75, 75);
$border_color: rgb(221, 221, 221);
$btn_background_color: #79a9f0;
$btn_text_color: #1f2014;
$btn_hover_background_color: rgb(0, 140, 255);
$btn_hover_text_color: rgb(32, 32, 32);