<footer>
  <div class="sitename">
    <%=link_to root_path, class: "sitetitle" do%>
      <%# <%=image_tag "logo", class: "sitetitle_logo"%> %>
    <% end %>
  </div>
  <span class="copyright"> © 2019 WakuwakuStory</span>
</footer>