<div class="wrapper">
  <header id="main_header">
    <div id="headbox_bg">
      <div class="clearfix" id="headbox">
        <div id="header_l">
          <div class="sitename">
            <%=link_to root_path, class: "sitetitle" do%>
              <%=image_tag "wakusuto_logo.jpg", class: "sitetitle_logo" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>