<div class="wrapper">
  <header id="main_header">
    <div class="sitename">
      <%=link_to root_path, class: "sitetitle" do%>
        <%=image_tag "waku.png", class: "sitetitle_logo" %>
      <% end %>
    </div>
    <%# <div class="search_area"> %>
      <%# 探す %>
      <%# <%=render 'shared/genre_dropdwn_menu'%>
      
    <%# </div> %>
  </header>
</div>

