<div class="wrapper">
  <header id="main_header">
    <div class="sitename">
      <%=link_to root_path, class: "sitetitle" do%>
        <%=image_tag "waku.png", class: "sitetitle_logo" %>
      <% end %>
    </div>
    <div class="q_and_a_link">
      <%=link_to q_and_a_path, class: :q_and_a_link_btn do%>
        このサービスについて（Q&A）
      <%end%>
    </div>
    
  </header>
</div>

