<div class="profile_side_contents">
  <%=link_to root_path, class: :side_menu_list do%>
    <div class="side_content_top">
      トップページ
    </div>
  <%end%>
  <%=link_to new_user_registration_path, class: :side_menu_list do%>
    <div class="side_content">
      新規登録
    </div>
   <%end%>
   <%=link_to new_user_session_path, class: :side_menu_list do%>
    <div class="side_content">
      ログイン
    </div>
  <%end%>
</div>