<div class="mypagemain_side_contents">
  
  <div class="side_content">
    <%=link_to new_maintitle_path do%>
      開設一覧
    <%end%>
  </div>
  <div class="side_content">
    <%=link_to establishment_user_path(current_user) do%>
      投稿一覧
    <%end%>
  </div>
  <div class="side_content_top">
    <%=link_to root_path do%>
      トップページ
    <%end%>
  </div>
  <div class="side_content">
    <%=link_to destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"} do%>
      ログアウト
    <%end%>
  </div>
</div>