<div class="mypagemain_side_contents">
  <%=link_to root_path, class: :side_menu_list do%>
    <div class="side_content_top">
      トップページ
    </div>
  <%end%>
  <%=link_to mypagemain_user_path(current_user), class: :side_menu_list do%>
    <div class="side_content">
      マイページ
    </div>
  <%end%>
  <%=link_to favorite_list_user_path(current_user), class: :side_menu_list do%>
    <div class="side_content">
      お気に入り一覧
    </div>
  <%end%>
  <%=link_to destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class: :side_menu_list do%>
    <div class="side_content">
      ログアウト
    </div>
  <%end%>
</div>