作成中
<h1>新着</h1>

<div>
  <%@stories.each do |story|%>
  <%=link_to story_path(story) do%>
    <ul>
      <li>
        <%=story.title%>
      </li>
      <li>
        <%= render 'stories/tag_list', tag_list: story.tag_list %>
      </li>
    </ul>
    <%end%>
  <%end%>
</div>

     

