<div class="wrapper">
  <div class="story_container">
    <%=form_with model: @story, class: :story_form_with do |s|%>
      <div class="story_content">
        <div class="story_title_area">
          <div class="story_title_form_area">
            <%=s.label :タイトル%>
            <%=s.text_field :title, class: :story_title_form%>          
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>