<div class="contents row">
    <div class="success">
      <h3>
        編集が完了しました。
      </h3>
      <%=link_to root_path, class: "destroy_btn" do%>
        ホーム画面に戻る
      <%end%>
      <%=link_to mypagemain_user_path, class: "destory_btn" do%>
        マイページに戻る
      <%end%>
    </div>
  </div>