<%=link_to root_path, class: :q_and_a_root_link do%>
  ホーム画面へ戻る
<%end%>
<h1 class="info_main">
    Q&A
</h1>
<div class="q_and_a_main_contener">
  
  <div class="q_and_a_background", style="background-image: url(/images/index_image_3.jpg)">
  </div>
  
  
  <div class="q_and_a_main_content">
    
    <div class="main_question">
      ●　WakuwakuStoryについて
    </div>
    <div class="question">
      　○　どんなサービスですか？
    </div>
    <div class="answer">
      　　・　個人のオリジナル小説を投稿できるサービスです<br />
      　　　　作成した小説をみなさんとシェアし、楽しんでください
    </div>
    <div class="question">
      　○　料金は発生しますか？
    </div>
    <div class="answer">
      　　・　完全無料のサービスです<br />
      　　　　楽しんでください<br />
    </div>
    
    <div class="main_question">
      ●　新規登録、ログイン
    </div>
    <div class="question">
      　○　新規登録
    </div>
    <div class="answer">
      　　・　必須項目入力による登録<br />
      　　　１　画面右上、もしくはサイドメニューより「新規登録」をクリック<br />
      　　　２　必須項目を入力し、「仮登録する」をクリック<br />
      　　　３　認証メールが届くので、メールに添付されているリンクからログイン画面へ<br />
      　　　４　新規登録で入力した「メールアドレス」「パスワード」を入力しログイン<br /><br />
      　　・　外部認証による登録<br />
      　　　１　画面右上、もしくはサイドメニューより「新規登録」をクリック<br />
      　　　２　お持ちのアカウントに該当する外部認証ボタンをクリック<br />
      　　　３　アカウントに登録されている名前、メールアドレスが自動で入力されるので、他の任意の項目を必要に応じて入力し、「仮登録する」をクリック<br />
      　　　４　認証メールが届くので、リンクによりログイン画面へ<br />
      　　　５　先ほどクリックした外部認証のボタンをクリックしログイン<br />
    </div>
    <div class="question">
      　○　ログイン
    </div>
    <div class="answer">
      　　・　必須項目によるログイン<br />
      　　　１　画面右上、もしくはサイドメニューより「ログイン」をクリック<br />
      　　　２　新規登録時に入力した「メールアドレス」「パスワード」を入力しログイン<br /><br />
      　　・　外部認証によるログイン<br />
      　　　１　画面右上、もしくはサイドメニューより「ログイン」をクリック<br />
      　　　２　新規登録時に登録した外部認証のボタンをクリックしログイン<br />
    </div>
    <div class="question">
      　○　パスワードを忘れた場合
    </div>
    <div class="answer">
      　　１　画面右上、もしくはサイドメニューより「ログイン」をクリック<br />
      　　２　ログイン画面の「パスワードを忘れた方はこちらをクリック」をクリック<br />
      　　３　パスワード再設定用のメールが送信されるので、リンクよりパスワードを再設定する<br />
    </div>
    <div class="main_question">
      ●　機能
    </div>
    <div class="question">
      　・　投稿
    </div>
    <div class="answer">
      　　１　ログインの後、マイページへ移行<br />
      　　２　サイドメニューの「新しく小説を書く」をクリック<br />
      　　３　各種項目を入力し、「登録する」をクリック<br />
      　　４　小説の内容など項目を入力し、「投稿する」をクリック<br />
    </div>
    
    <div class="question">
      　・　お気に入り登録、解除
    </div>
    <div class="answer">
      　　１　小説の詳細画面の左上の「お気に入り」をクリック<br />
      　　２　「お気に入り解除」に変わればお気に入り登録完了<br />
      　　３　「お気に入り解除」をクリックし「お気に入り」に変われば解除完了<br />
    </div>
    <div class="question">
      　・　評価
    </div>
    <div class="answer">
      　　１　小説の閲覧ページの下部らへんの「面白い数だけここをクリック」をクリック<br />
      　　２　クリックの回数ごとに評価がカウントされていきます<br />
      　　３　「評価をリセットする」クリックで、評価を０に戻すことができます<br />
    </div>
    <div class="question">
      　・　コメント
    </div>
    <div class="answer">
      　　１　小説の閲覧ページの下部らへんのコメント入力欄へコメントを入力する<br />
      　　２　「コメントを投稿する」クリックで投稿完了<br />
      　　３　「削除」をクリックでコメントを削除することができます<br />
    </div>
    <div class="main_question">
      ●　コンプライアンス
    </div>
    <div class="question">
      　・　以下の内容が認められた場合、アカウントを削除させていただきます
    </div>
    <div class="answer">
      　　１　極めて不適切な表現<br />
      　　２　実在の人物に対する極めて不適切な誹謗中傷の投稿（コメントも含む）<br />
      　　３　他のユーザーに対する極めて不適切な誹謗中傷の投稿（コメントも含む）<br />
    </div>
    <div class="main_question">
      ●　WakuwakuStory運営事務所より
    </div>
    <div class="question">
      　・　このサービスは個人で開発したサービスです
    </div>
    <div class="answer">
      　　１　とにかく楽しんでください<br />
      　　２　とにかくみなさんで盛り上がってください<br />
      　　３　個人で作成したサービスとなっていますので、<br />
      　　　　至らない箇所、実装が足りない箇所がありますが、<br />
      　　　　随時アップグレードしていく予定ですので、寛容な器で当サービスをご利用ください
    </div>
    <div class="question">
      　○　実装予定機能
    </div>
    <div class="answer">
      　　１　スマホ対応<br />
      　　２　もろもろの並び替え機能<br />
    </div>
    <div class="main_question">
      それでは<br />WakuwakuStoryをこれからもよろしくお願いします！
    </div>
  </div>
</div>