footer {
  padding: 0;
  width: 100%;
  background-color: rgb(201, 224, 247);
  position: absolute;
  bottom: 0;
  @include clearfix;
  .sitename {
    font-size: 22px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 10px;
    // @include clearfix;
    float: left;
    .sitetitle {
      color: gray;
      .sitetitle_logo {
        padding-top: 20px;
        padding-left: 50px;
        height:70px;  
      }
    }
  }
  .copyright {
    display: inline-block;
    text-align: center;
    padding-left: 15px;
    width: 75%;
    height: 33px;
    line-height: 120px;
    margin: auto;
    position: relative;
  }
}