.genre_dropdwn_menu, .order_dropdwn_menu {
  // width: 100%;
  @include clearfix;
  margin-top: 5px;
  padding-bottom: 5px;
  padding: 0;
  display: flex;
  z-index: 1;
  #genre_area, #order_area {
    width: 100px;
    text-align: center;
    padding-bottom: 5px;
    
    
    .genre_icon:hover {
      color: #fff;
    }
    ul {
      position: absolute;
      
      background: rgb(255, 255, 255);
      display: none;
      min-width: 100px;
      border-bottom: solid 1px rgb(211, 211, 211);
      border-right: solid 1px rgb(211, 211, 211);
      border-left: solid 1px rgb(211, 211, 211);
      text-align: center;
      // position: relative;
      margin-top: 5px;
      .dropdwn_genre_list, .dropdwn_order_list {
        color: rgb(84, 84, 84);
        z-index: 1;
        li {
          position: relative;
          border-top: solid 1px rgb(211, 211, 211);
          
        }
        li:hover {
          color: #fff;
          background: rgb(191, 191, 191);
        }
      }
      
    }
  }
}