
header {
  // text-align: left;
  display: flex;
  box-shadow: 2px 2px 1px 2px rgba(50, 50, 50, 0.1);
  background: rgb(131, 131, 131);
  // background-image: url("index_image_3.jpg");
  position: relative;
	height: 90px;
  .sitename {
    font-size: 22px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 10px;
    display: inline-block;
    .sitetitle {
      color: gray;
      .sitetitle_logo {
        margin: 10px;
        height: 70px;

      }
    }
  }
  .search_area {
    display: inline-block;
    // position: absolute;
    bottom: 0;
    // margin: 0 0 10px 135px;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 20px;
    z-index: 1; 
  }
}
