
header {
  text-align: center;
  box-shadow: 2px 2px 2px 2px rgba(50, 50, 50, 0.2);
  background: rgb(110, 181, 247);
  #headbox {
    padding: 0;   
    margin: 0;
    #header_l {
      float: none;
      max-width: 100%;
      box-sizing: border-box;
      padding: 0;
      .sitename {
        font-size: 22px;
        color: #fff;
        line-height: 30px;
        margin-bottom: 10px;
        // background: orange;
        @include clearfix;
        .sitetitle {
          color: gray;
          .sitetitle_logo {
            padding: 10px;
            height:70px;  
          }
        }
      }
    }
  }
}
