.story_index_title_area {
  font-family: 'Big Shoulders Text', cursive;
  position: absolute;
  height: 424px;
  margin: auto;
  // background-image: image-url("index_image_3.jpg");
  background-size: cover;
  position: relative;
  @include clearfix; 
  color: #fff;
  .story_index_title {
    text-align: center;
    line-height: 400px;
    opacity: 0.7;
    font-size: 30px;
  }
  .pakutaso {
    color: #fff;
    opacity: 0.7;
    font-size: 10px;
    position: relative;
    left: 88%;
  }
}

.story_container {
  position: relative;
  min-height: 200px;
  background: #f5f5f5;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  // padding-bottom: 100px;
  color: #333;
  @include clearfix;
  
  .story_main_contents {
    padding-top: 10px;
    position: relative;
    top: 0; left: 120px;
    width: 55%;
    float: left;
    .new_article_list {
      margin-top: 20px;
      margin-bottom: 25px;
      font-size: 17px;
    }
    .index_story_titles_area {
      @include clearfix;
      padding: 15px 5px 0 5px;
      border-bottom: 1px solid rgb(221, 221, 221);
      background-color: #fff;
      color: gray;
      .story_titles {
        display: inline-block;
        margin-bottom: 3px;
        border-bottom: 1px solid rgb(187, 187, 187);

        .story_title {
          display: inline-block;
          color: rgb(70, 70, 70);
        }
      }
      
      .story_user_name {
        float: right;
        .index_nickname {
          color: rgb(70, 70, 70);
          border-bottom: 1px solid rgb(187, 187, 187);
          
        }
      }
      .story_maintitle_genre_area {
        margin-bottom: 3px;
        .story_maintitle {
          // margin-left: 16px;
          float: left;
          .index_maintitle {
            color: rgb(70, 70, 70);
            border-bottom: 1px solid rgb(187, 187, 187);
          }
        }
        .story_genre {
          display: inline;
          // background-color: rgb(58, 58, 58);
          background: rgb(110, 181, 247);
          border-radius: 5px;
          padding: 0 5px 0 2px;
          margin-left: 5px;
          color: rgb(75, 75, 75);
        }
      }
      
      .tags_and_time_area {
        margin-bottom: 5px;
        @include clearfix;
        .story_title_tags {
          // display: inline-block;
          // margin-left: 20px;
          @include clearfix;
          float: left;
        }
        .label-primary {
          // margin-left: 13px;
          padding-right: 1px;
          padding-left: 1px;
          background-color: rgb(202, 202, 202);
          border-radius: 2px;
          color: rgb(70, 70, 70);
        }
        .mystory_upload_time {
          float: right;
          // line-height: 5px;
        }
      }
    }
    .index_paginate {
      padding: 0;
      width: 100%;
      // position: absolute;
      bottom: 0;
      @include clearfix;
      .pagination {
        margin: 10px 10px 50px 10px;
        .current {
          color: red;
        }
      }
    }
  }
}