
.mypagemain_title_area {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 30px;
  .mypagemain_title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.mypagemain_explanation {
  margin-left: 135px;
  margin-bottom: 20px;
}
.mypagemain_container {
  position: relative;
  min-height: 200px;
  background: #f5f5f5;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding-bottom: 100px;
  color: #333;
  @include clearfix;
  .mypagemain_main_contents {
    // padding-top: 10px;
    position: relative;
    top: 0; left: 120px;
    width: 50%;
    float: left;
    .mypagemain_user_profile_area {
      width: 100%;
      float: left;
      margin-top: 80px;
      // background-color: #fff;
      .mypagemain_user_image_area {
        background-color: #fff;
        height: 300px;
        position: relative;
        .user_image {
          width: auto;
          height: 290px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
      .mypagemain_user_nickname {
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid rgb(198, 198, 198);
        background-color: #fff;
      }
      .mypagemain_user_profile {
        border-bottom: 1px solid rgb(198, 198, 198);
        
        background-color: #fff;
        min-height: 100px;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 20px;
      }
    }
    .mystory_novels_area {
      @include clearfix;
      padding: 20px 5px 5px 5px;
      border-bottom: 1px solid rgb(221, 221, 221);
      background-color: #fff;
      // color: grey;
      display: flex;
      font-size: 14px;
      color: rgb(60, 60, 60);
      // font-weight: bold;
      .mystory_novels_cover_area {
        height: 110px;
        width: 120px;
        // background-color: red;
        position: relative;
        .mystory_novel_cover {
          height: 90px;
          width: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
        }
      }
      .mystory_story_title_area {
        color: gray;
        .mystory_maintitle_explanation_area {
          display: inline-block;
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 3px;
          .mystory_maintitle_explanation {
            display: flex;
            .mystory_maintitle {
              // font-weight: bold;
              color: gray;
              .mystory_titles {
                .mystory_title {
                  font-weight: 900;
                }
              }
            }
          }
          .mystory_titles {
            display: inline-block;
            margin-bottom: 2px;
            color: gray;
            font-weight: bold;
            :hover {
              color: rgb(27, 27, 255);
            }
            .mystory_title {
              display: inline-block;
              
            }
          }
          .mystory_title_genres_explanation {
            display: flex;
            .mystory_title_genres {
              margin-bottom: 2px;
              background-color: rgb(110, 181, 247);
              border-radius: 5px;
              padding: 0 5px 0 2px;
              color: rgb(75, 75, 75);
            }
          }
          .mypage_maintitle_tags_explanation {
            display: flex;
            .label-primary {
              border-radius: 5px;
              padding: 0 5px 0 2px;
              background-color: rgb(202, 202, 202);
              color: rgb(70, 70, 70);
            }
          }
          .mystory_maintitle_name_area {
            display: flex;
            .mystory_maintitle_name {
              border-bottom: 1px solid rgb(187, 187, 187);
            }
            .mystory_maintitle_genre {
              display: inline;
              padding-right: 1px;
              padding-left: 1px;
              background-color: rgb(202, 202, 202);
              border-radius: 2px;
              color: rgb(70, 70, 70);
              margin-left: 5px;
            }
          }
          
          .mystory_upload_time_explanation {
            display: flex;
            .mystory_upload_time {
            } 
          }
          
        }
      }
    }
    .mystory_novels_area:hover {
      background-color: rgb(240, 240, 240);
    } 
    .mystory_maintitle_more {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      @include clearfix;
      display: inline-block;
      
      .mystory_maintitle_more_btn {
        float: right;
        color: gray;
      }
      
    }
    .article_list_title {
      margin-top: 10px;
    }

    .mystory_titles_area {
      @include clearfix;
      padding: 20px 5px 5px 5px;
      border-bottom: 1px solid rgb(221, 221, 221);
      background-color: #fff;
      font-size: 14px;
      margin-top: auto;
      margin-bottom: auto;
      color: gray;
      display: flex;
      .mystory_novels_cover_area {
        height: 110px;
        width: 120px;
        // background-color: red;
        position: relative;
        .mystory_novel_cover {
          height: 90px;
          width: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
        }
      }
      .mystory_story_title_area {
        margin-left: 3px;
        .mystory_titles_area_explanation {
          display: flex;
        }
        
        .mystory_titles {
          margin-bottom: 3px;
          color: gray;
          .mystory_title {
            color: gray;
            font-weight: bold;
          }
          :hover {
            color: rgb(27, 27, 255);
          }
        }
        .mystory_title_tags_explanation {
          display: flex;      
          .mystory_title_tags {
            .label-primary {
              display: inline-block;
              background-color: rgb(189, 189, 189);
              border-radius: 5px;
              padding: 0 3px 0 3px;
            }
          }
        }
        .mystory_story_maintitle_explanation {
          display: flex;
          .mystory_maintitle_name {
    
          }
        }
        .mystory_maintitle_genre_explanation {
          display: flex;
          .mystory_maintitle_genre {
            margin-bottom: 2px;
            background-color: rgb(110, 181, 247);
            border-radius: 5px;
            padding: 0 5px 0 2px;
            color: rgb(75, 75, 75);
          }
        }
        .mystory_upload_time_explanation {
          display: flex;
          .mystory_upload_time {
            
          }
        }
      }
      }
      .mystory_titles_area:hover {
        background-color: rgb(240, 240, 240);
      }

      
    
    .mypagemain_story_more_area {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      display: inline-block;
      .mypagemain_story_more {
        float: right;
        color: gray;
        
      }
    }
  }
}