.story_explanation {
  margin-left: 135px;
  margin-bottom: 20px;
}
.story_container {
  position: relative;
  min-height: 200px;
  background: #f5f5f5;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding-bottom: 100px;
  color: #333;
  @include clearfix;
  
  .story_main_contents {
    padding-top: 10px;
    position: relative;
    top: 0; left: 120px;
    width: 50%;
    float: left;
    @include clearfix;
    
    .favorite_area {
      display: inline-block;
      .favorite_btn {
        color: rgb(70, 70, 70);
        .like_area {
          text-align: center;
          width: 100%;
          height: 100%;
          display: inline-block;
          padding: 5px;
          margin-top: 10px;
          border: 1px solid rgb(187, 187, 187);
          background-color: #fff;
          border-radius: 5px;
          transition: all ease-out .3s;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all  0.3s ease;
        }
      }
      
      .like_area:hover {
        background-color: rgb(255, 250, 117);
        color: rgb(32, 32, 32);
      }
      .unlike_area {
        text-align: center;
        width: 100%;
        height: 100%;
        display: inline-block;
        padding: 5px;
        margin-top: 10px;
        border: 1px solid rgb(187, 187, 187);
        background-color: rgb(255, 250, 117);;
        border-radius: 5px;
        transition: all ease-out .3s;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all  0.3s ease;
        .favorite_btn {
          color: rgb(70, 70, 70);
        }
      }
      .unlike_area:hover {
        background-color: #fff;
        color: rgb(32, 32, 32);
    }
    }
    
    .posli_cover_area {
      margin-top: 10px;
      width: 100%;
      height: 500px;
      background-color: #fff;
      position: relative;
      .posli_cover {
        width: auto;
        height: 450px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom :0;
        margin:  auto;
      }
    }

    
    .posli_story_user_time_genre_area {
      margin-top: 10px;
      .posli_user_nickname_image_area {
        display: flex;
        .posli_story_user_nickname {
          margin-bottom: 10px;
          display: inline-block;
          margin-right: 10px;
          margin-top: 7px;
          .posli_story_user_nickname_link {
            color: gray;
          }
          .posli_story_user_nickname_link:hover {
            color: rgb(0, 81, 255);
          }
        }
        .posli_story_user_image {
          // display: flex;
          .posli_story_user_image_icon {
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: inline-block;
          }
        }
      }
      
      .posli_maintitle_time {
        float: right;
      }
      .posli_maintitle_genre_explanation {
        margin-bottom: 10px;
        .posli_maintitle_genre {
          background: rgb(110, 181, 247);
          border-radius: 5px;
          padding: 0 2px 0 2px;
          display: inline-block;
        }
      }
      .posli_tag_explanation {
        margin-bottom: 10px;
        display: flex;
        .posli_tag {
          .label-primary {
            border-radius: 5px;
            padding: 0 5px 0 2px;
            background-color: rgb(202, 202, 202);
            color: rgb(70, 70, 70);
          }
        }
      }
      .posli_review_icon {
        margin-bottom: 10px;
        // display: flex;
        .fa-thumbs-o-up {
          margin-left: 4px;
        }
        .posli_all_favorite {
          display: inline-block;
        }
      }
    }

    .posli_maintitle_explanation_area {
      background-color: #fff;
      margin-bottom: 25px;
      border: 1px solid rgb(221, 221, 221);
      border-radius: 5px;
      padding: 10px;
    }

    .posli_story_new_edit_area {
      padding-top: 10px;
      text-align: right;
      @include clearfix;
      .posli_story_new_btn_area {
        float: right;
        margin-left: 10px;
        .posli_story_new_btn {
          border-bottom: 1px solid rgb(187, 187, 187);
          color: gray;
        }
        :hover {
          color: rgb(96, 96, 255);
        }
      }
      .posli_story_edit_btn_area {
        // margin-top: 3px;
        float: right;
        .posli_story_edit_btn {
          border-bottom: 1px solid rgb(187, 187, 187);
          color: gray;
          margin-left: 10px;
        }
        :hover {
          color: rgb(96, 96, 255);
        }
      }
    }

    .posli_story_list_explanation_area {
      // float: left;
      .posli_story_list_explanation {
        padding: 10px;
      }
    }

    .mystory_titles_area {
      @include clearfix;
      padding: 20px 5px 5px 5px;
      border-bottom: 1px solid rgb(221, 221, 221);
      background-color: #fff;
      font-size: 14px;
      margin-top: auto;
      margin-bottom: auto;
      color: rgb(60, 60, 60);
      display: flex;
      .mystory_novels_cover_area {
        height: 80px;
        width: 95px;
        // background-color: red;
        position: relative;
        .mystory_novel_cover {
          height: 65px;
          width: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
        }
      }
      .mystory_story_title_area {
        margin-top: auto;
        margin-bottom: auto;
        color: gray;
        .mystory_titles_area_explanation {
          display: flex;
        }
        .mystory_titles {
          margin-bottom: 3px;
          color: gray;
          .mystory_title {
            color: gray;
            font-weight: bold;
          }
          :hover {
            color: $hover_text_color;
          }
        }
        .mystory_title_tags_explanation {
          display: flex;      
          .mystory_title_tags {
            .label-primary {
              display: inline-block;
              background-color: rgb(189, 189, 189);
              border-radius: 5px;
              padding: 0 3px 0 3px;
              color: $genre_text_color;
            }
          }
        }
        .mystory_story_maintitle_explanation {
          display: flex;
          .mystory_maintitle_genre {
          }
        }
        .mystory_maintitle_genre_explanation {
          display: flex;
          .mystory_maintitle_genre {
            display: inline-block;
            background: rgb(110, 181, 247);
            border-radius: 5px;
            padding: 0 2px 0 2px;
            // margin-left: 5px;
            display: inline-block;
            color: rgb(75, 75, 75);
            font-size: 13px;
          }
        }
        
        .mystory_upload_time_explanation {
          display: flex;
          .mystory_upload_time {
            
          }
        }
        .profile_story_review_explanation {
          margin-left: 3px;
          .fa-thumbs-o-up {

          }
        }
        .mystory_all_review {
          // display: flex;
          .fa-thumbs-o-up {
            margin-left: 2px;
          }
        }
      }
      }
      .mystory_titles_area:hover {
        background-color: rgb(240, 240, 240);
      }
    

    .story_new_edit_area {
      display: block;
      @include clearfix;
      .story_new_btn_area {
        height: 30px;
        padding-top: 10px;
        text-align: right;
        .story_new_btn {
          margin-top: 10px;
          text-align: right;
        }
      }
      .story_edit_btn_area {
        height: 30px;
        padding-top: 10px;
        text-align: right;
        .story_edit_btn {
          margin-top: 10px;
          text-align: right;

        }
      }
    }
    .posli_story_titles_area {
      @include clearfix;
      padding: 15px 5px 0 5px;
      border-bottom: 1px solid rgb(221, 221, 221);
      background-color: #fff;
      // color: gray;
      border-bottom: 1px solid rgb(221, 221, 221);
      font-size: 14px;
      .posli_story_titles_explanation {
        display: flex;
        .posli_story_titles {
          .posli_title {
            color: gray;
          }
          :hover {
            color: $hover_text_color;
          }
        }
      }
      
      .posli_tags_explanation {
        margin-bottom: 5px;
        display: flex;
        .posli_story_title_tags {
          // margin-left: 78px;
          @include clearfix;
          // float: left;
          .label-primary {
            padding-right: 1px;
            padding-left: 1px;
            background-color: rgb(202, 202, 202);
            border-radius: 2px;
            color: rgb(70, 70, 70);
          }
        }
      }
      .posli_story_upload_time_explanation {
        display: flex;
        .posli_story_upload_time {

        }
      }
    }
    .mypage_paginate {
      padding: 0;
      width: 100%;
      // position: absolute;
      bottom: 0;
      @include clearfix;
      .pagination {
        margin: 10px;
        .current {
          color: red;
        }
      }
    }
  }
  
}