.story_new_title_contents {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 30px;
  .story_new_title_content {
    font-weight: bold;
  }
}

.story_new_container {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  // font-size: 14px;
  color: #333;
  
}