.story_show_contener {
  
  position: relative;
  background: #f5f5f5;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #333;
  @include clearfix;
  padding-bottom: 50px;
  .story_show_main_contener {
    
    margin-top: 80px;
    position: relative;
    top: 0;
    left: 120px;
    width: 55%;
    float: left;
    @include clearfix;
    .story_show_title_area {
      // overflow: visible !important;
      // background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
      // background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
      // background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
      // background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
      // background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
      .story_show_title {
        min-height: 60px;
        padding: 5px;
        background-color: white;
        font-size: 30px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        border-bottom: 2px solid $border_color;
      }
    }
    .story_show_image_area {
      margin-top: 10px;
      width: 100%;
      height: 500px;
      background-color: #fff;
      position: relative;
      .story_show_image {
        width: auto;
        height: 450px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom :0;
        margin:  auto;
      }
    }
    .story_show_image_explanation_area {
      background-color: #fff;
      color: gray;
      padding: 1px 30px 20px 30px;
      margin-bottom: 40px;
      
    }
    .story_show_genre_tag_area {
      margin-top: 10px;
      .story_show_maintitle_area {
        display: flex;
        .story_show_maintitle_explanation {
          font-family: 'M PLUS Rounded 1c', sans-serif;
          display: flex;
          .story_show_maintitle {
            font-family: 'M PLUS Rounded 1c', sans-serif;
          }
        }
      }
      .story_maintitle_genre_area {
        display: flex;
        .story_maintitle_genre {
          background: rgb(110, 181, 247);
          border-radius: 5px;
          padding: 0 2px 0 2px;
          margin-left: 5px;
        }
      }
      .story_show_tag_list_area {
        border: 2px solid $border_color;
        margin-top: 15px;
        @include clearfix;
        background-color: #fff;
        .story_show_tag_list_title {
          float: left;
          border: 2px solid $border_color;
          border-right: 4px solid $border_color;
          padding-right: 3px;
        }
        .story_show_tag_list {
          // display: flex;
          // flex-wrap: wrap;
          margin-top: 2px;
          display: inline-block;
          .label-primary {
            // margin-right: 8px;
            margin-left: 8px;
            margin-top: 2px;
            padding-right: 1px;
            padding-left: 1px;
            // background-color: rgb(202, 202, 202);
            // background: rgb(110, 181, 247);
            background-color: rgb(202, 202, 202);
            border-radius: 2px;
          }
        }
      }
    }
    .story_user_nickname_area {
      @include clearfix;
      // display: inline-block;
      // display: flex;
      // width: 100%;
      height: 40px;
      // float: right;
      .story_user_nickname {
        float: right;
        // height: 40px;
        margin-top: 7px;
        // margin: auto;
      }
      .story_user_my_image_icon_area {
        float: right;
        margin-top: 2px;
        .story_user_my_image_icon {
          border-radius: 50%;
          width: 35px;
          height: 35px;
          display: inline-block;
        }
      }
    }
    .story_show_story {
      min-height: 300px;
      margin-bottom: 10px;
      border: 1px solid $border_color;
      padding: 10px;
      background-color: #fff;
    }
    .story_show_notice_area {
      background-color: #fff;
      color: gray;
      padding: 1px 30px 20px 30px;
      margin-bottom: 40px;
      margin-top: 40px;
    }
    .mystory_edit_delete_area {
      // display: inline;
      @include clearfix;
      margin-bottom: 5px;
      .mystory_edit_delete {
        float: right;
        .mystory_edit_delete_btn {
          border-left: 1px solid $border_color;
          border-bottom: 1px solid $border_color;
          color: gray;
        }
        .mystory_edit_delete_btn:hover {
          color: $hover_text_color;
        }
      }
    } 
    .story_show_comment_title {
      text-align: center;
      overflow: visible !important;
      background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
      background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
      background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
      background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
      background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    }
    .story_show_comment_area {
      @include clearfix;
      margin-top: 10px;
      border: 1px solid rgb(196, 196, 196);
      background-color: #fff;
    }
    .show_user_image {
      float: left;
      .story_comment_user_icon {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: inline-block;
      }
    }
    .story_comment_time {
      float: right;
      color: rgb(138, 138, 138);
    }
    .story_user_comment {
      margin-left: 35px;
    }
  }
  .story_show_comment_input_area {
    @include clearfix;
    margin-top: 20px;
    margin-bottom: 30px;
    .story_show_signup_btn {
      color: rgb(75, 75, 75);
      border-bottom: 1px solid rgb(187, 187, 187);
    }
    .story_show_explanation {
      font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    .story_show_text_area {
      padding: 10px 16px 8px;
      width: 100%;
      margin: 8px 0 0;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
      box-sizing: border-box;
    }
    .btn-primary {
      display: block;
      width: 312px;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
      background-color: rgb(121, 169, 240);
      color: rgb(31, 32, 20);
      border-radius: 10px;
      
      margin: auto;
    }
  }
  .return_top_page {
    margin-top: 5px;
    &_btn {
      color: gray;
      border-bottom: 1px solid $border_color;
    }
    &_btn:hover {
      color: $hover_text_color;
    }
  }
}
