.story_explanation {
  margin-left: 135px;
  margin-bottom: 20px;
}
.story_container {
  position: relative;
  min-height: 200px;
  background: #f5f5f5;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding-bottom: 100px;
  color: #333;
  @include clearfix;
  
  .story_main_contents {
    padding-top: 10px;
    position: relative;
    top: 0; left: 120px;
    width: 50%;
    float: left;
    @include clearfix;
    .story_user_nickname {
      margin-left: 30px;
    }
    .story_new_edit_area {
      display: block;
      @include clearfix;
      .story_new_btn_area {
        height: 30px;
        padding-top: 10px;
        text-align: right;
        .story_new_btn {
          margin-top: 10px;
          text-align: right;
        }
      }
      .story_edit_btn_area {
        height: 30px;
        padding-top: 10px;
        text-align: right;
        .story_edit_btn {
          margin-top: 10px;
          text-align: right;

        }
      }
    }
    .story_titles_area {
      @include clearfix;
      margin-top: 15px;
      border-bottom: 1px solid rgb(221, 221, 221);
      .story_titles {
        display: inline-block;
        .story_title {
          display: inline-block;
        }
      }
      .story_genre {
        display: inline-block;
        background-color: rgb(193, 193, 255);
        border-radius: 5px;
        padding: 0 2px 0 2px;
      }
      .tags_and_time_area {
        margin-bottom: 5px;
        @include clearfix;
        .story_title_tags {
          margin-left: 20px;
          @include clearfix;
          float: left;
        }
        .label-primary {
          margin-left: 10px;
          padding-right: 1px;
          padding-left: 1px;
          background-color: rgb(202, 202, 202);
          border-radius: 2px;
        }
        .story_upload_time {
          float: right;
        }
      }
    }
    .mypage_paginate {
      padding: 0;
      width: 100%;
      // position: absolute;
      bottom: 0;
      @include clearfix;
      .pagination {
        margin: 10px;
        .current {
          color: red;
        }
      }
    }
  }
  // .mypagemain_side_contents {
  //   float: right;
  //   background-color: #fff;
  //   width: 280px;
  //   margin-right: 120px;
  //   margin-top: 40px;
    
  //   .side_content_top {
  //     padding: 10px;
  //     border: 1px solid rgb(179, 179, 179);
  //   }
  //   .side_content {
  //     padding: 10px;
  //     border-bottom: 1px solid rgb(179, 179, 179);
  //     border-left: 1px solid rgb(179, 179, 179);
  //     border-right: 1px solid rgb(179, 179, 179);
  //   }
  // }
}