<p>Hello <%= @resource.email %>!</p>

<p>以下のリンクからパスワードの再設定を行ってください</p>

<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに心当たりがない方は無視してください</p>
<p>Wakuwakustory運営事務所</p>
